.header {
    background-color: rgb(231, 247, 152);
    font-family: "Comic Sans MS", cursive, san serif;
    text-align: center;
    width: 80%;
    padding: 10px;
    border-radius:15px;
    margin: auto;
  }

html, body {
    height: 100%;
}
 

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, san serif;
}


.main{
    padding:20px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #ffffff;
}

.footer {
    flex-shrink: 0;
    height: 50px;
    width: 100%;
    bottom: 0;
    padding: 5px;
    background-color: rgb(231, 247, 152);
    text-align: center;
}